body{
    margin: 0;
    background-color: black;
}
header{
    text-align: center;
    background-color: black;
    padding: 2rem 0  ;
    margin-bottom: 3rem;

    h1{
        font-size: 4rem;
        margin: 0;

        // animation-duration: 6s;
        // animation-name: lightEffect;

        text-shadow: 0 0 0.2em rgba(221,250,0,1), 0 0 0.2em rgba(221,250,0,1),0 0 0.2em rgba(221,250,0,1);
        color: white;

    }
}
.title{
    text-align: center;
    grid-column: 1/5;
    text-decoration: underline;
}
main{
    background-color: white;
    padding: 1% 3%;
    margin: 0 12%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .light{
        text-align: center;
        margin: 0 2%;
        margin-bottom: 5%;
        border: 1px solid black;
        h2{
            margin-top: 0;
            background-color: black;
            color: white;
        }
        i{
            margin: 10% 0;
            font-size: 10rem;
        }

    }
    .lightON{
        h2{
            text-shadow: 0 0 0.2em rgba(221,250,0,1), 0 0 0.2em rgba(221,250,0,1),0 0 0.2em rgba(221,250,0,1);
            color: white;
        }
         i{
        animation-duration: 2s;
        animation-name: lightEffect;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        // animation-direction: alternate;
        text-shadow: 0 0 0.2em rgba(221,250,0,1), 0 0 0.2em rgba(221,250,0,1),0 0 0.2em rgba(221,250,0,1);
        color: white;
        }
        @keyframes lightEffect{
            from{
                text-shadow: none;
                color: black;
                transform: rotate(0deg);
            }
            50%{
                text-shadow: 0 0 0.2em rgba(221,250,0,1), 0 0 0.2em rgba(221,250,0,1),0 0 0.2em rgba(221,250,0,1);
                color: white;

            }
            to{
                color: black;
                transform: rotate(360deg);
            }
        }
    }
}
