body{
    margin: 0;
    background-color: black;
}
header{
    text-align: center;
    background-color: black;
    padding: 2rem 0  ;
    margin-bottom: 3rem;

    h1{
        font-size: 4rem;
        margin: 0;

        // animation-duration: 6s;
        // animation-name: lightEffect;

        text-shadow: 0 0 0.2em rgba(221,250,0,1), 0 0 0.2em rgba(221,250,0,1),0 0 0.2em rgba(221,250,0,1);
        color: white;

    }
}
.title, .formAllLight{
    text-align: center;
    grid-column: 1/5;
    text-decoration: underline;
}
main{
    background-color: white;
    padding: 1% 3%;
    margin: 0 12%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .light{
        text-align: center;
        margin: 0 2%;
        margin-bottom: 5%;
        border: 1px solid black;
        h2{
            margin-top: 0;
            background-color: black;
            color: white;
        }
        i{
            margin: 10% 0;
            font-size: 10rem;
        }
        .lightForm{
            display: flex;
            flex-direction: column;
            align-items: center;

            button{
                margin-top: 5%;
                width: 50%;
            }
        }

    }

    .lightON{
        h2{
            text-shadow: 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white;
            color: white;
        }
         i{
        animation-duration: 2s;
        animation-name: lightEffect;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        // animation-direction: alternate;
        text-shadow: 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white;
        color: white;
        }
        @keyframes lightEffect{
            from{
                text-shadow: none;
                color: black;
                transform: rotate(0deg);
            }
            50%{
                text-shadow: 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white;
                color: white;

            }
            to{
                color: black;
                transform: rotate(360deg);
            }
        }
    }
    .lightColorRED{
        h2{
            text-shadow: 0 0 0.2em red , 0 0 0.2em red ,0 0 0.2em red ;
            color: red;
        }
        i{
            text-shadow: 0 0 0.2em red, 0 0 0.2em red,0 0 0.2em red;
            color:red;
        }
    }
    .lightColorYELLOW{
        h2{
            text-shadow: 0 0 0.2em rgba(221,250,0,1) , 0 0 0.2em rgba(221,250,0,1) ,0 0 0.2em rgba(221,250,0,1) ;
            color: rgba(221,250,0,1);
        }
        i{
            text-shadow: 0 0 0.2em rgba(221,250,0,1), 0 0 0.2em rgba(221,250,0,1),0 0 0.2em rgba(221,250,0,1);
            color:rgba(221,250,0,1);
        }
    }
    .lightColorBLUE{
        h2{
            text-shadow: 0 0 0.2em blue , 0 0 0.2em blue,0 0 0.2em blue ;
            color: blue;
        }
        i{
            text-shadow: 0 0 0.2em blue, 0 0 0.2em blue,0 0 0.2em blue;
            color:blue;
        }
    }
    .lightColorGREEN{
        h2{
            text-shadow: 0 0 0.2em green , 0 0 0.2em green,0 0 0.2em green ;
            color: green;
        }
        i{
            text-shadow: 0 0 0.2em green, 0 0 0.2em green,0 0 0.2em green;
            color:green;
        }
    }
    .lightColorPURPLE{
        h2{
            text-shadow: 0 0 0.2em purple , 0 0 0.2em purple,0 0 0.2em purple ;
            color: purple;
        }
        i{
            text-shadow: 0 0 0.2em purple, 0 0 0.2em purple,0 0 0.2em purple;
            color:purple;
        }
    }

    .lightOFF{
        h2{
            text-shadow: none;
            color:white;
        }
         i{
             animation-name:none;
             text-shadow:none;
             color:black;
         }
    }
}
