{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Light Room</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static '@fortawesome/fontawesome-free/css/all.css'%}" />
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header>
            <h1> Lightroom Project </h1>

        </header>
        <h2 class="title"> All lights </h2>
<main>
    {% for light in object_list%}

    <div class="light light{{ light.state }}">
        <h2> Light # {{ light.id }}</h2>
        {% if light.state == 'ON' %}
        <i class="far fa-lightbulb"></i>

        {% else %}
        <i class="fas fa-lightbulb"></i>
        {% endif %}
        <h3> State : {{ light.get_state_display }}</h3>

        <div class="checkbox">
            <form class="" action="index.html" method="post">

            {% if light.state == 'ON' %}
            <input id="toggle{{ light.id }}" class="toggle" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" >

            {% else %}
            <input id="toggle{{ light.id }}" class="toggle" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" >
            {% endif %}

        </form>
        </div>
</div>

{% endfor %}

</main>






<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var btnToggle = $('.toggle');
        var divLight = $('.light');

        btnToggle.click(function(){

            var btnId = self.id

            console.log(btnId);
        })





    })


</script>
    </body>
</html>
